@left-background: #f5f5f5;
@right-border-top-color: #e0e0e0;
.whiteBackground{
  background-color: white;
}
// body{
//   background-color: @right-border-top-color;
// }
.left {
  border-right: 1px solid red;
  background-color: @left-background;
  margin-left: 0px;
  margin-right: 0px;
  // .whiteBackground;
  width:20%;
  }
.right {
  .row{
    margin-left: 0px;
  }
  border-left: 1px solid @right-border-top-color;
  // border: 1px solid black;
  padding:0px;
  margin-left: 0px;
  .right-top{
    background-color: @right-border-top-color;
    height:100px;
    .top-top{
      margin:0px;
      background-color: #1e88e5;
      height: 70px;
      overflow:hidden;
      .right-title{
        padding-left:10px;
        font-weight:bolder;
        color:white;
        font-family: "Roboto",sans-serif;
      }
    }
  }
  .content{
    padding-top: 1px;
    line-height: 24px;
    font-size: 16px;
    .inner{
      background-color: white;
      margin-left: 8%;
      margin-right: 8%;
      margin-bottom: 5%;
      padding:2%;
      p{
        padding-left:10px;
      }
    }
  }
  .content-part{
    background-color: #e0e0e0;
  }
  width:80%;
}
