@color_1: #5c5c5c;
@color_2: currentcolor;
@color_3: #455a64;
@color_4: #546E7A;
@color_5: #fff;
@color_6: #616161;
@color_7: #BDBDBD;
@color_8: #78909C;
@color_9: #4caf50;
@color_10: #fb8c00;
@color_11: #a0bd3a;
@color_12: #689f38;
@color_13: #4285f4;
@color_14: #5b80a5;
@color_15: #0288D1;
@color_16: #F2531C;
@color_17: #FF8A65;
@color_18: #757575;
@color_19: #00AFD8;
@color_20: #00aed9;
@color_21: #ef6c00;
@color_22: #0f9d58;
@color_23: #212121;
@color_24: #9e9e9e;
@color_25: white;
@font_family_1: 'Roboto', sans-serif;
@font_family_2: sans-serif;
@background_color_1: #455a64;
@background_color_2: #ECEFF1;
@background_color_3: #fff;
@background_color_4: #607D8B;
@background_color_5: #E0E0E0;
@background_color_6: #546E7A;
@background_color_7: #78909C;
@background_color_8: #BDBDBD;
@background_color_9: #4caf50;
@background_color_10: #fb8c00;
@background_color_11: #a0bd3a;
@background_color_12: #689f38;
@background_color_13: #4285f4;
@background_color_14: #5b80a5;
@background_color_15: #0288D1;
@background_color_16: #F2531C;
@background_color_17: #FF8A65;
@background_color_18: #757575;
@background_color_19: #00AFD8;
@background_color_20: #00aed9;
@background_color_21: #ef6c00;
@background_color_22: #0f9d58;
@background_color_23: white;
@background_color_24: #424242;
@background_color_25: #616161;
@background_color_26: #546F7A;

.layout.horizontal {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
.layout.horizontal-reverse {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.layout.vertical {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.layout.vertical-reverse {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.layout.wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex {
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.flex-1 {
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.layout.start {
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.layout.center {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.layout.center-center {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.layout.end {
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.layout.start-justified {
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.layout.center-justified {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.layout.end-justified {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.layout.around-justified {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.layout.justified {
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.self-start {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
}
.self-center {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}
.self-end {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}
.self-stretch {
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}
.block {
	display: block;
}
[hidden] {
	display: none !important;
}
.invisible {
	visibility: hidden !important;
}
.relative {
	position: relative;
}
.fit {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
body.fullbleed {
	margin: 0;
	height: 100vh;
}
.scroll {
	-webkit-overflow-scrolling: touch;
	overflow: auto;
}
body {
	font-family: @font_family_1;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: @color_1;
	background: #ECEFF1;
}
h1 {
	font-family: @font_family_1;
	-webkit-font-smoothing: antialiased;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 56px;
	font-weight: 400;
	letter-spacing: -.026em;
	line-height: 60px;
}
h2 {
	font-family: @font_family_1;
	-webkit-font-smoothing: antialiased;
	font-size: 45px;
	font-weight: 400;
	letter-spacing: -.018em;
	line-height: 48px;
}
h3 {
	font-family: @font_family_1;
	-webkit-font-smoothing: antialiased;
	font-size: 34px;
	font-weight: 400;
	letter-spacing: -.01em;
	line-height: 40px;
}
h4 {
	font-family: @font_family_1;
	-webkit-font-smoothing: antialiased;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: -.012em;
	line-height: 32px;
}
* {
	box-sizing: border-box;
	margin: 0;
}
body.view {
	#banner {
		padding-top: calc(56px + 24px);
		padding-bottom: 24px;
		position: relative;
	}
}
b {
	font-weight: 500;
}
a {
	text-decoration: none;
	color: @color_2;
}
ul {
	// list-style: none;
	// padding: 0;
}
li {
	line-height: 40px;
	// list-style: none;
	// padding: 0;
}
[drawer] {
	paper-toolbar {
		background-size: cover;
		background-color: @background_color_1;
	}
	paper-item {
		border-bottom: 1px solid #EEEEEE;
		a {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
paper-listbox {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
paper-item {
	position: relative;
	cursor: pointer;
	font-weight: 300;
}
paper-item.iron-selected {
	background-color: @background_color_2;
	color: @color_3;
}
.site-width {
	// background-color: #f5f5f5;
	padding-top:20px;
	margin-left: 5%;
	margin-right: 5%;
	width: 90vw;
	max-width: 1024px;
}
.site-width>div>div{
	margin-left: 5%;
	margin-right:5%;
}
.part>.row{
	margin-left:5%;
}
.part{
	background-color: #e0e0e0;
}
#banner {
	background-color: @background_color_3;
	padding: 0 40px 0 40px;
	padding: 40px 0 48px 0;
	box-shadow: 0px 3px 6px -3px #BDBDBD;
	h2 {
		font-weight: 300;
	}
	h3 {
		font-weight: 300;
	}
	#logo {
		height: 125px;
		width: auto;
		max-width: 100%;
	}
	.banner-slider {
		position: absolute;
		top: 0;
		max-width: 100%;
		width: 100%;
		background-color: @background_color_2;
		color: @color_4;
		padding: 8px 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		transition: -webkit-transform 400ms cubic-bezier(0, 0, 0.2, 1);
		transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);
		will-change: transform;
		h3 {
			font-size: 30px;
		}
	}
	.banner_arrows {
		margin-left: 16px;
	}
	.banner-title {
		margin-bottom: 8px;
	}
	.banner-description[data-filter-selected] {
		iron-pages {
			display: block;
		}
		p.banner-info {
			display: none;
		}
	}
	.banner-description {
		.banner-meta {
			padding: 0 32px 0 32px;
			h3 {
				margin-bottom: 8px;
			}
		}
		iron-pages {
			display: none;
		}
	}
	paper-button {
		font-family: @font_family_1;
		-webkit-font-smoothing: antialiased;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 0.01em;
		background-color: @background_color_4;
		padding: 8px 16px;
		min-width: 150px;
		color: @color_5;
		text-align: center;
		border-radius: 0;
		line-height: initial;
	}
	paper-button.iron-selected {
		background-color: @background_color_1;
	}
}
#banner[down] {
	.banner-slider {
		-webkit-transform: none;
		transform: none;
	}
	.banner-title {
		visibility: hidden;
	}
}
#sortby {
	padding: 24px 0;
	paper-tabs {
		color: @color_6;
		text-transform: uppercase;
		transition: opacity 400ms cubic-bezier(0, 0, 0.2, 1);
	}
	paper-tab {
		&:hover {
			background-color: @background_color_5;
			opacity: 1;
		}
	}
}
#categoryfilter {
	background-color: @background_color_3;
	width: 200px;
	paper-listbox {
		width: 200px;
	}
}
#searchbar {
	paper-input-container {
		padding: 0;
		transition: opacity 400ms cubic-bezier(0, 0, 0.2, 1);
		label {
			color: @color_5;
			opacity: 0.5;
		}
		input {
			color: @color_5;
		}
	}
}
.default-bg {
	background-color: @background_color_8;
	&~.card-footer {
		paper-button {
			color: @color_7;
			&:hover {
				background: rgba(189, 189, 189, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(189, 189, 189, 0.1);
		}
	}
}
.about-bg {
	background-color: @background_color_7;
	&~.card-footer {
		paper-button {
			color: @color_8;
			&:hover {
				background: rgba(120, 144, 156, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(120, 144, 156, 0.1);
		}
	}
}
.ads-bg {
	background-color: @background_color_9;
	&~.card-footer {
		paper-button {
			color: @color_9;
			&:hover {
				background: rgba(76, 175, 80, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(76, 175, 80, 0.1);
		}
	}
}
.analytics-bg {
	background-color: @background_color_10;
	&~.card-footer {
		paper-button {
			color: @color_10;
			&:hover {
				background: rgba(251, 140, 0, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(251, 140, 0, 0.1);
		}
	}
}
.android-bg {
	background-color: @background_color_11;
	&~.card-footer {
		paper-button {
			color: @color_11;
			&:hover {
				background: rgba(160, 189, 58, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(160, 189, 58, 0.1);
		}
	}
}
.android-auto-bg {
	background-color: @background_color_11;
	&~.card-footer {
		paper-button {
			color: @color_11;
			&:hover {
				background: rgba(160, 189, 58, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(160, 189, 58, 0.1);
		}
	}
}
.android-tv-bg {
	background-color: @background_color_11;
	&~.card-footer {
		paper-button {
			color: @color_11;
			&:hover {
				background: rgba(160, 189, 58, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(160, 189, 58, 0.1);
		}
	}
}
.android-wear-bg {
	background-color: @background_color_11;
	&~.card-footer {
		paper-button {
			color: @color_11;
			&:hover {
				background: rgba(160, 189, 58, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(160, 189, 58, 0.1);
		}
	}
}
.apps-bg {
	background-color: @background_color_12;
	&~.card-footer {
		paper-button {
			color: @color_12;
			&:hover {
				background: rgba(104, 159, 56, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(104, 159, 56, 0.1);
		}
	}
}
.assistant-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.sheets-bg {
	background-color: @background_color_12;
	&~.card-footer {
		paper-button {
			color: @color_12;
			&:hover {
				background: rgba(104, 159, 56, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(104, 159, 56, 0.1);
		}
	}
}
.blockly-bg {
	background-color: @background_color_14;
	&~.card-footer {
		paper-button {
			color: @color_14;
			&:hover {
				background: rgba(91, 128, 165, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(91, 128, 165, 0.1);
		}
	}
}
.brillo-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cast-bg {
	background-color: @background_color_9;
	&~.card-footer {
		paper-button {
			color: @color_9;
			&:hover {
				background: rgba(76, 175, 80, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(76, 175, 80, 0.1);
		}
	}
}
.chrome-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-about-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-app-engine-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-appengine-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-cloud-tools-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-compute-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-data-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-general-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-machine-learning-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-mobile-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-monitoring-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-networking-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-others-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-security-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.cloud-web-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.firebase-bg {
	background-color: @background_color_15;
	&~.card-footer {
		paper-button {
			color: @color_15;
			&:hover {
				background: rgba(2, 136, 209, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(2, 136, 209, 0.1);
		}
	}
}
.firebase-web-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.games-bg {
	background-color: @background_color_16;
	&~.card-footer {
		paper-button {
			color: @color_16;
			&:hover {
				background: rgba(242, 83, 28, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(242, 83, 28, 0.1);
		}
	}
}
.play-games-bg {
	background-color: @background_color_16;
	&~.card-footer {
		paper-button {
			color: @color_16;
			&:hover {
				background: rgba(242, 83, 28, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(242, 83, 28, 0.1);
		}
	}
}
.geo-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.search-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
.vr-bg {
	background-color: @background_color_17;
	&~.card-footer {
		paper-button {
			color: @color_17;
			&:hover {
				background: rgba(255, 138, 101, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(255, 138, 101, 0.1);
		}
	}
}
.virtual-reality-bg {
	background-color: @background_color_17;
	&~.card-footer {
		paper-button {
			color: @color_17;
			&:hover {
				background: rgba(255, 138, 101, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(255, 138, 101, 0.1);
		}
	}
}
.iot-bg {
	background-color: @background_color_18;
	&~.card-footer {
		paper-button {
			color: @color_18;
			&:hover {
				background: rgba(117, 117, 117, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(117, 117, 117, 0.1);
		}
	}
}
.nest-bg {
	background-color: @background_color_19;
	&~.card-footer {
		paper-button {
			color: @color_19;
			&:hover {
				background: rgba(0, 175, 216, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(0, 175, 216, 0.1);
		}
	}
}
.openthread-bg {
	background-color: @background_color_20;
	&~.card-footer {
		paper-button {
			color: @color_20;
			&:hover {
				background: rgba(0, 174, 217, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(0, 174, 217, 0.1);
		}
	}
}
.tensorflow-bg {
	background-color: @background_color_21;
	&~.card-footer {
		paper-button {
			color: @color_21;
			&:hover {
				background: rgba(239, 108, 0, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(239, 108, 0, 0.1);
		}
	}
}
.unity-bg {
	background-color: @background_color_18;
	&~.card-footer {
		paper-button {
			color: @color_18;
			&:hover {
				background: rgba(117, 117, 117, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(117, 117, 117, 0.1);
		}
	}
}
.weave-bg {
	background-color: @background_color_22;
	&~.card-footer {
		paper-button {
			color: @color_22;
			&:hover {
				background: rgba(15, 157, 88, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(15, 157, 88, 0.1);
		}
	}
}
.web-bg {
	background-color: @background_color_13;
	&~.card-footer {
		paper-button {
			color: @color_13;
			&:hover {
				background: rgba(66, 133, 244, 0.1);
			}
		}
		paper-button[focused] {
			background: rgba(66, 133, 244, 0.1);
		}
	}
}
#cards {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-bottom: 24px;
	margin-left: 5%;
	margin-right:5%;
}
.codelab-card {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex: 1 0 330px;
	-ms-flex: 1 0 330px;
	flex: 1 0 330px;
	margin: 0 16px 16px 0;
	background-color: @background_color_3;
	max-width: 330px;
	&:nth-of-type(3n) {
		margin-right: 0;
	}
	img {
		margin-right: 4px;
	}
	.card-header {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 16px;
		.category-icon {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: @background_color_23;
			background-size: 70%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
	}
	.card-duration {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		mix-blend-mode: overlay;
		color: @color_23;
	}
	.card-author {
		font-size: 12px;
		color: @color_7;
		line-height: 16px;
		text-align: right;
	}
	.card-updated {
		font-size: 12px;
		color: @color_7;
		line-height: 16px;
		text-align: right;
	}
	.description {
		padding: 16px 32px;
		-webkit-flex: 1 0 auto;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
	}
}
.card-footer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-top: 1px solid #E0E0E0;
	padding: 8px 16px;
	paper-button {
		font-family: @font_family_1;
		-webkit-font-smoothing: antialiased;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 0.01em;
		transition: opacity 400ms cubic-bezier(0, 0, 0.2, 1);
	}
}
.card-pin {
	position: absolute;
	left: 7px;
	bottom: 14px;
	width: 15px;
	height: 20px;
	background-repeat: no-repeat;
}
#footer {
	background-color: @background_color_24;
	font-size: 13px;
	padding: 40px 0;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a {
		color: @color_24;
	}
	.footer-wrapper {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.link-list {
		border-top: 1px solid #616161;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		margin-right: 32px;
		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}
		label {
			display: block;
			color: @color_5;
			margin: 8px 0 16px;
		}
	}
}
.footerbar {
	background-color: @background_color_25;
	color: @color_5;
	font-size: 13px;
	padding: 10px 0;
	a {
		color: @color_2;
	}
	paper-dropdown-menu {
		background-color: @background_color_3;
		padding: 0 4px 0 8px;
		width: 100px;
	}
	paper-item {
		text-transform: uppercase;
	}
}
body.loading {
	paper-toast {
		visibility: hidden;
	}
	paper-drawer-panel {
		[drawer] {
			display: none;
		}
	}
	#sortby {
		paper-tabs {
			height: 48px;
			opacity: 0;
			display: block;
		}
	}
	.filters-buttons {
		pointer-events: none;
	}
	.card-footer {
		height: 50px;
		paper-button {
			opacity: 0;
		}
	}
	.footerbar {
		height: 60px;
	}
	paper-dropdown-menu {
		visibility: hidden;
		height: 40px;
	}
	.banner-technologies {
		display: none;
	}
	.banner-events {
		display: none;
	}
	#searchbar {
		paper-input-container {
			opacity: 0;
		}
	}
}
.cards {
	a {
		text-decoration: none !important;
	}
}
#mainToolbar {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 64px;
	background-color: @background_color_1;
	color: @color_5;
	padding: 16px;
	a {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.logo-icon {
		margin-right: 16px;
		width: 30px;
		height: 24px;
	}
	.logo-devs {
		width: 216px;
		height: 36px;
		margin-top: 5px;
	}
	paper-icon-button {
		--paper-icon-button-ink-color: rgba(255,255,255,0.6);
	}
}
.search {
	padding: 0px;
	width: 90%;
	background-color: @background_color_26;
}
.searchInput {
	background-color: @background_color_26;
	font-family: @font_family_1;
	-webkit-font-smoothing: antialiased;
	border: none;
	height: 100%;
	width: 80%;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: @color_25;
	&:focus {
		outline: none;
	}
	&::placeholder {
		font-family: @font_family_2;
		color: @color_25;
		font-weight: bolder;
		opacity: 0.5;
	}
}
.searchBtn {
	height: 100%;
	width: 50px;
	background-color: @background_color_26;
	border: none;
	&:focus {
		outline: none;
	}
}
.headerbanner {
	background-color: @background_color_3;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 30px;
}
@media (max-width: 767px) {
	#banner {
		padding: 16px 0;
		line-height: 16px;
		paper-button {
			display: inline-block;
			margin: 16px 0 0 0;
		}
		.filters-buttons {
			iron-selector {
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-justify-content: space-around;
				-ms-flex-pack: distribute;
				justify-content: space-around;
			}
		}
	}
	.banner-info {
		line-height: 24px;
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
		width: 100%;
		paper-item {
			border-bottom: 1px solid #EEEEEE;
		}
	}
	.banner-description {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.banner-technologies {
		position: absolute;
		width: 100%;
		left: 0;
		z-index: 1;
	}
	.banner-title {
		font-size: 7vw;
	}
	.banner-meta {
		display: none;
	}
	#logo {
		margin-bottom: 16px;
	}
	#sortby {
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.filters {
		width: 100%;
	}
	#searchbar {
		paper-input-container {
			display: none;
		}
	}
	#mainToolbar {
		height: 56px;
		paper-icon-button[icon="menu"] {
			width: 40px;
			margin-right: 8px;
			width: 40px;
		}
	}
	#cards {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.codelab-card {
		margin: 0 0 16px;
		min-width: 330px;
		max-width: 100%;
		width: 100%;
		-webkit-flex: 1 0 200px;
		-ms-flex: 1 0 200px;
		flex: 1 0 200px;
		.card-header {
			border-radius: 0;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			.category-icon {
				margin: 0;
			}
		}
	}
	#footer {
		padding: 24px 0;
		.footer-wrapper {
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		}
		.link-list {
			margin: 0 0 24px 0;
		}
	}
}
@media (min-width: 768px) {
	.filters {
		max-width: calc(32% + 3px);
	}
	.filters-buttons {
		iron-selector {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-align-items: flex-start;
			-ms-flex-align: start;
			align-items: flex-start;
		}
	}
	#banner {
		paper-button {
			margin-bottom: 16px;
		}
		.banner-title {
			margin-bottom: 16px;
		}
	}
	.banner-info {
		margin-right: 32px;
		line-height: 32px;
	}
	.banner-description {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		.banner-info {
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
		}
	}
	.banner-technologies {
		-webkit-columns: 200px;
		-moz-columns: 200px;
		columns: 200px;
		padding: 0;
		-webkit-overflow-scrolling: touch;
		max-height: 128px;
		transition: -webkit-transform 400ms cubic-bezier(0, 0, 0.2, 1);
		transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);
		-webkit-columns: 125px;
		-moz-columns: 125px;
		columns: 125px;
		paper-item {
			-moz-column-break-inside: avoid;
			-webkit-column-break-inside: avoid;
			column-break-inside: avoid;
			min-height: 32px;
			white-space: nowrap;
		}
	}
	.banner-events {
		-webkit-columns: 200px;
		-moz-columns: 200px;
		columns: 200px;
		padding: 0;
		-webkit-overflow-scrolling: touch;
		max-height: 128px;
		transition: -webkit-transform 400ms cubic-bezier(0, 0, 0.2, 1);
		transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);
		paper-item {
			-moz-column-break-inside: avoid;
			-webkit-column-break-inside: avoid;
			column-break-inside: avoid;
			min-height: 32px;
			white-space: nowrap;
		}
	}
	#searchbar {
		background-color: @background_color_6;
		transition: background-color 400ms cubic-bezier(0, 0, 0.2, 1);
		width: 100%;
		&:hover {
			background-color: @background_color_7;
		}
	}
	.logo-devs {
		margin: 5px 32px 0 0;
	}
	.codelab-card {
		min-height: 250px;
	}
}
@media (min-width: 767px) and (max-width: 1136px) {
	.codelab-card {
		-webkit-flex: 0 0 32%;
		-ms-flex: 0 0 32%;
		flex: 0 0 32%;
		margin: 0 2% 2% 0;
		min-height: 200px;
	}
}
