#mainToolbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
    background-color: #455a64;
    color: #fff;
    padding: 16px;
}
#mainToolbar a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#mainToolbar .logo-icon {
    margin-right: 16px;
    width: 30px;
    height: 24px;
}

#mainToolbar .logo-devs {
    width: 216px;
    height: 36px;
    margin-top: 5px;
}

#mainToolbar paper-icon-button {
    --paper-icon-button-ink-color: rgba(255,255,255,0.6);
}

.search{
    padding:0px;
    width: 90%;
}
.search, .searchInput{
    background-color: #546F7A;
}
.searchInput{
    /*margin-top:0px;*/
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    border: none;
    height:100%;
    width:80%;
    -webkit-box-shadow: none;
    box-shadow: none;
    color:white;
}
.searchInput:focus{
    outline:none;
}
.searchInput::placeholder{
    font-family: sans-serif;
    color:white;
    font-weight: bolder;
    opacity: 0.5;
}
.searchBtn{
    height: 100%;
    width: 50px;
    background-color:#546F7A;
    border:none;
}
.searchBtn:focus{
    outline:none;
}
/*.search:hover{
  .searchBtn, .searchInput{
    background-color: white;
  };
  background-color: white;
  background-blend-mode: overlay;
}*/